<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.txt.sl">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.PROCESS_OUTGOING_CALLS" />
    <uses-permission android:name="android.permission.READ_LOGS" /> <!-- 这个权限用于进行网络定位 -->
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" /> <!-- 这个权限用于访问GPS定位 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" /> <!-- 这个权限用于获取wifi的获取权限，wifi信息会用来进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" /> <!-- 用于访问wifi网络信息，wifi信息会用于进行网络定位 -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" /> <!-- 获取CUID，用于鉴权，请求签名等 -->
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS" /> <!-- 用于读取手机当前的状态 -->
    <uses-permission android:name="com.android.launcher.permission.WRITE_SETTINGS" /> <!-- 写入扩展存储，向扩展卡写入数据，用于写入离线定位数据 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.BROADCAST_STICKY" />
    <uses-permission android:name="android.permission.BLUETOOTH" />

    <application>
        <activity android:name=".ui.RestartActivity"/>
        <activity android:name=".ui.CrashActivity" />
        <activity
            android:name=".ui.invite.VideoUploadActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.order.OrderDetailsPageActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.invite.InviteActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.createorder.NewOrderSubActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.search.SearchActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.order.OrderActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.order.OrderDetailsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.video.VideoPlayActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.createorder.NewOrderActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".ui.home.HomeActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />


        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote" />

        <activity
            android:name=".ui.video.RoomActivity"
            android:configChanges="screenLayout|screenSize|smallestScreenSize|orientation"
            android:screenOrientation="landscape" />
        <activity
            android:name=".ui.video.OfflineActivity"
            android:configChanges="screenLayout|screenSize|smallestScreenSize|orientation"
            android:screenOrientation="landscape" />
        <activity
            android:name=".utils.TxPermissionUtils$TransActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleInstance"
            android:multiprocess="true"
            android:theme="@style/tx_activityTranslucent"
            android:windowSoftInputMode="stateHidden|stateAlwaysHidden" />
    </application>

</manifest>